{% extends 'base.html' %}

{% block title %}Blog Posts{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold mb-4">Blog Posts</h1>

<ul class="list-disc pl-5 space-y-2">
    {% for post in posts %}
        <li>
            <a href="{% url 'post_detail' post.pk %}" class="text-blue-600 hover:underline">
                {{ post.title }}
            </a> 
            - <span class="text-gray-600">{{ post.author }} ({{ post.created_at|date:"d M Y" }})</span>
        </li>
    {% empty %}
        <li>Geen posts gevonden.</li>
    {% endfor %}
</ul>
{% endblock %}
