{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Django Tailwind</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
</head>

<body class="h-screen bg-gray-50 text-black font-serif leading-normal tracking-normal">

    <!-- Content -->
    <main class="flex-1 container mx-auto px-4 py-6">
        {% block content %}{% endblock %}
    </main>
</body>
</html>
